# Certificates and package signing keys
.certs
*.pem

# Packaged extensions
dist/*
!dist/*.user.js

# Develeper scratch files
*~
.*.swp

# WebStorm project files
/.idea

# Compiled Python files from Firefox Addon SDK
*.pyc

# ignore Node packages
node_modules